@use "./variables" as *;

@mixin main-font-center {
    text-align: center;
    font-weight: bold;
}

@mixin main-font-start {
    text-align: start;
    font-weight: bold;
}

@mixin page-layout{
    width: 70%;
    margin: 0 auto;
}